# Игнорируем виртуальное окружение
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Файл с переменными окружения
.env

# Логи и временные файлы
logs/
*.log
*.out
*.err
debug.log

# Конфигурационные файлы IDE
.vscode/
.idea/
*.swp

# Кэш-папки
.cache/
